[user]
  user = rianrainey
  name = Rian Rainey
  email = hello@rian.me
[credential]
  helper = /opt/boxen/bin/boxen-git-credential
[alias]
  today = "!git log --since='6am' --author `git config user.email` --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  yesterday  = "!git log --since='yesterday 12:01am' --until='yesterday 11:59pm' --author `git config user.email` --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[core]
  excludesfile = /opt/boxen/config/git/gitignore
  editor = vim
[color]
  diff = auto
  status = auto
  branch = auto
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[github]
	user = rianrainey

[hub]
protocol = https
